{% extends "base.html" %} {% block title %} {{ super() }} - Cards{% endblock %} {% block content
%}

<h1>Cards</h1>

<h2>Is this your card?:</h2>
<p>{{rank}} of {{suit}}</p>


<div class="card" style="width: 18rem;">
  <img src="{{url_for('static', filename='Cards/{{rank}}_of_{{suit}}.svg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{rank}} of {{suit}}</h5>
    <p class="card-text">Your card is the {{rank}} of {{suit}}.</p>
    <a href="{{url_for('card')}}" class="btn btn-primary">Try again?</a>
  </div>
</div>

{% endblock %}
